html {
   background-color: #6b7c8f;
   z-index: -1;
}
body, html {
    margin: 0;
    padding: 0;
}
#wrapper{
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    display: flex;
    justify-content: center;
}
#toolsContainer{
    border-radius: 20px;
    border-style: solid;
    box-shadow: 16px 13px 1px 4px #000000;
    background-color: #f4c822;
    text-align: center;
    margin: 10px 85px 10px 35px;
    padding: 15px 15px 15px 15px;
    font-family: 'Righteous', cursive, sans-serif;
    color: black;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-shadow: 11px 5px 15px;
}
#gridContainer{
    border-style: solid;
    text-align: center;
    margin: 15px;
    padding: 0px;
    height: 650px;
    width: 850px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
}
.colorBtnContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header{
    text-align: center;
    font-size: 300%;
    font-family: 'Righteous', cursive, sans-serif;
    height: 110px;
    color: #f8871c;
    text-shadow: 11px 8px 2px black;
    letter-spacing: 30px;
}
.toolTitles {
    font-size: 170%;
    font-weight: bolder;
    text-align: center;
}
.btn{
    height: 35px;
    border-radius: 50px;
    border: 3px solid rgb(12, 12, 12);
    width: 75%;
    margin-bottom: 5px;
    box-shadow: 16px 13px 1px 4px #000000;
}
.btn2{
    height: 35px;
    border-radius: 50px;
    border: 3px solid rgb(12, 12, 12);
    width: 25%;
    margin-bottom: 5px;
    box-shadow: 16px 13px 1px 4px #000000;
}
#gridWrapper{
    display: flex;
    border-radius: 35px;
    border-style: solid;
    text-align: center;
    margin: 10px 35px 10px 35px;
    padding-bottom: 15px;
    width: 1000px;
    flex-direction: column;
    align-items: center;
    background-color: #f4c822;
    box-shadow: 16px 13px 1px 4px #000000;
}
#footerContainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 100px;
    width: auto;
}
#pageTitle{
    margin: 10px
}
.btn:hover{
    transition-duration: .7s;
    background: #f8871c;
}
.btn2:hover{
    transition-duration: .7s;
    background: #f8871c;
}
.grid-cell {
    padding: 0;
    margin: 0;
    border: 1px solid #d0d0d0;
    text-align: center;
    background-color: white;
}
.gridSize{
    font-family: 'Righteous', cursive, sans-serif;
    font-size: larger;
}
#sliderRange{
    width: 350px;
    height: 15px;
    background: red;
    transition: 0.2s;
    border-radius: 7px;
}
.black{
    background-color: #000000;
}